body {
  margin: 10px;
  padding: 0;
  background-color: #40372e;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  font-weight: 700;

}

.clear {
  clear: both;
}

circle {
  stroke: #67645d;
  stroke-width: 5px;
  fill: #FFFFFF;
  cursor: pointer;
}

#search-box {
  box-shadow: 0 1px white,inset 0 1px rgba(34, 25, 25, 0.1);
  float: left;
  border: 1px solid;
  width: 300px;
  border-color: #C2C0C0 #CCCACA #D1CFCF;
  padding: 5px;
}

#search a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  background-color: #e30b70;
  background-image: -moz-linear-gradient(top, #FDFAFB, #F9F7F7 50%, #F6F3F4 50%, #F0EDED);
  float: left;
  margin-top: 2px;
  padding: 6px 10px;
  font-size: 14px;
  text-shadow: 1px 1px #000;
}

#content {
}

#date-slider-container {
  width: 900px;
  margin-left: 100px;
}

#date-range {
  margin-top: 10px;
  color: #CCCCCC;
}

#date-range-min {
  float: left;
}

#date-range-max {
  float: right;
}

#date-range div {
  display: inline-block;
}

#min, #max {
  width: 200px;
  background: #000000;
  color: #FFFFFF;
  padding: 3px 3px 6px 3px;
  text-align: center;
}

.ui-widget-content {
  background: #CCCCCC;
}

.ui-widget-header {
  background: #FFFFFF;
}

.ui-state-default {
  background: #E30B70;
}